.navbar-image {
    margin-left: 50px;
}

.flex {
    display: flex;
}

.v-center {
    margin: auto;
}

.m-10{
    margin-left: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.logout {
    color: #ff4d4f;
    display: flex;
}

.user-profile {
    display: flex;
    margin-left: -3px;
    color: #595959;
}

@media only screen and (max-width: 499px) {
    #navbar-register {
        display: none;
    }
}

