.user-profile-container {
    padding: 40px 35px;
    min-height: calc(100vh - 67px);
    width: auto;
    position: relative;

    background: url("/public/background.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-profile-card {
    width: 80%;
    padding: 40px 35px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);;
    margin: auto;
    transform: translate(0%, 10%);
}

.user-profile-card-content {
    display: flex;
    gap: 50px;
    flex-wrap: initial;
    justify-content: start;
}

@media only screen and (max-width: 899px) {
    .user-profile-card-content {
        flex-wrap: wrap;
    }
}

.user-profile-color{
    color: #595959;
}

.user-profile-information-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.user-profile-weight {
    font-weight: 600;
    margin-right: 5px;
}

.year-input {
    width: 20%;
}

.description-input {
    min-width: 100%;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-profile-h2 {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    background-color: #05DC8D;
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 5px;
}

.user-profile-reply-content {
    margin-top: 5px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.user-profile-reply-card {
    border-left: 5px solid #05DC8D;
    margin: auto;
    margin-top: 10px;
}

.user-profile-reply-card:hover {
    border-left: 10px solid #05DC8D;
    transition: 0.2s;
}

.user-profile-reply-card:not(:hover) {
    border-left: 5px solid #05DC8D;
    transition: 0.2s;
}

.user-profile-reply-border-blue {
    border-left: 5px solid #1682FD;
}

.user-profile-reply-border-blue:hover {
    border-left: 10px solid #1682FD;
    transition: 0.2s;
}

.user-profile-reply-border-blue:not(:hover) {
    border-left: 5px solid #1682FD;
}

.user-profile-reply-rating {
    margin-bottom: 10px;
}

.user-profile-submit-border-orange {
    border-left: 5px solid #fa541c;
}

.user-profile-submit-border-orange:hover {
    border-left: 10px solid #fa541c;
    transition: 0.2s;
}

.user-profile-submit-border-orange:not(:hover) {
    border-left: 5px solid #fa541c;
}

