.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px;
}

.about-title {
    display: block;
    width: 32%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background: var(--primary-green);

    font-weight: 600;
    color: white;
}

.about-title:hover {
    background-color: var(--secondary-green) ;
    transition: 0.2s;
}

.about-title > div {
    font-weight: normal;
    font-size: 13px;
}
