.navbar {
    background-color: white;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    margin: 0px;
}

.side {
    height: calc(100vh - 67px);
}

@media only screen and (max-width: 899px) {
    .side {
        height: 300px;
    }
}
