.main-container {
    /*background-color: #FAFAFA;*/
    padding: 40px 35px;
    min-height: calc(100vh - 67px);
    width: 100%;
    background: url("/public/background.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 320px) {
    .main-container {
        padding: 0;
    }
}

.flex {
    display: flex;
    gap: 10px;
}

.tab-button {
    width: 60px;
    height: 30px;
    color: #808080;
    border: none;
    border-radius: 100px;
    box-shadow: none;
}

.tab-button:hover {
    background-color: #cbcbcb;
}

.tab-button-active {
    background-color: #1682FD;
    color: white;
}

.tab-button-active:hover {
    background-color: #0269DE;
}

.tab-button:active {
    transform: scale(0.97);
    transition: 0.2s;
}

.menu-button {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-button span {
    font-size: 10px;
}

.green {
    color: var(--secondary-green);
}

#tabs {
    position: relative;
}

#cascader-container {
    position: absolute;
    left: 140px;
}

.ant-cascader {
    background-color: red;
    opacity: 0%;
    z-index: -100;
}
