.card-container {
    margin-top: 30px;
}

.card {
    padding: 25px;
}

.card:hover {
    background-color: rgba(238, 238, 238, 0.73);
}

.card-content {
    margin-top: 5px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    margin: 5px 0px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.tags {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    vertical-align: center;
}

.tag {
    width: 40px;
    height: 20px;
    background-color: #EAEAEA;
    border-radius: 5px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: #808080;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
}

.activity {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.activity-content {
    color: #808080;
    display: flex;
    gap: 2px;
    font-size: 13px;
    line-height: 20px;
    align-items: center;
}

img {
    border-radius: 10px;
}
